<h1>Page 3</h1>
<p>The rogue animals then inspired a viral video worthy of the best police chases, running and darting in and out of traffic
    as they were chased by various locals with questionable strategies to detain them. The livestream of the chase quickly
    took off on Twitter as viewers across the nation tuned in to see if the llamas were able to escape for good.</p>
</br>
<a href="/end">The End</a>