<h1>Page 2</h1>
<p>Social media users were captivated on Thursday, Feb. 26, by the escape of two llamas in Sun City, Ariz. A larger white llama
    and a smaller black llama went on the run, stopping traffic as they crossed a large highway. </p>
</br>
<a href="/nextpage3">Next Page3</a>